.header_a1{
    background-color: #BBB ;
    color:#000;
    padding:20px;
    font-size:1.25em;
    font-weight:700;
}
.content_a1{
    background-color: #DDD;
    color:#000;
    padding:20px;
}

.subheader_a1{
    font-weight: 700;

}