<!-- Spacer -->
<div style="height: 20px;">&nbsp;</div>

<div *ngIf="false">
    <div class="header_a1">Manual Actions</div>
    <div class="content_a1">
        <table width="100%;" style="color:#AAA;">
            <tr>
                <td style="width:1%">
                    <button>Run</button>
                </td>
                <td style="color:#000;vertical-align:middle;">&nbsp;Fill Out Time Sheet Reminder</td>
                <td style="vertical-align:middle;width:1%;white-space:nowrap;">last executed on: Dec 1 2017</td>
            </tr>
            <tr>
                <td style="width:1%">
                    <button>Run</button>
                </td>
                <td style="color:#000;vertical-align:middle;">&nbsp;Approve Time Sheet Reminder</td>
                <td style="vertical-align:middle;width:1%;white-space:nowrap;">last executed on: Nov 17 2017</td>
            </tr>
        </table>

    </div>
</div>


<!-- Spacer -->
<div style="height: 20px;">&nbsp;</div>

<div>
    <div class="header_a1">Set Approvers
        <div style="font-size:12px;font-weight:100;font-style:italic;">Allows a person to approve time sheet lines for a show or department.</div>
    </div>
    <div class="content_a1">        
        <div class="dd_div">
            <div class="dd_search">
                <div style="width:90%;display:inline-block;">
                    <input placeholder="Show or Department" [(ngModel)]="vars.approvers_search" (click)="vars.approver_sel=false;vars.approver_result = false;vars.approvers_search=''" (keyup)="this.vars.approver_sel=false;vars.approver_result = searchShows(vars.approvers_search)"/>
                </div>
            </div>             
            <div *ngIf="vars.approver_result">
                <div *ngIf="vars.approver_result.length > 0" class="dd_results" style="width:760px;">
                    <div *ngFor="let result of vars.approver_result" [class.dd_result_sel]="result.selected" (click)="showSelected(result)">{{ result.cat_Title }}&nbsp;<div style="font-size:0.8em;font-style:italic;float:right;background:transparent;">{{result.type}}</div></div>
                </div>
            </div>
        </div>
        <div *ngIf="vars.approver_sel" style="margin-top:10px;">
            <div *ngIf="this.vars.approvers.length > 0 " style="padding:10px;">
                <div *ngFor="let d of this.vars.approvers; let i = 'index'" style="margin-top:10px;">
                    <div style="display:inline-block;float:right;">
                        <button (click)="removeApprover(d,i)">remove</button>
                    </div>
                    <div style="display:inline-block;">{{ d['fullName'] }}</div>
                </div>
            </div>
            <div *ngIf="this.vars.approvers.length <= 0 " style="padding:10px;">
                No one has been set yet as approver...
            </div>
            <div class="dd_div">
                <div class="dd_search">
                    <div style="width:90%;display:inline-block;">
                        <input placeholder="Add Approver" [(ngModel)]="vars.approvers_add_search" (click)="vars.approvers_add_result = false;vars.approvers_add_search=''" (keyup)="vars.approvers_add_result = searchDelegates(vars.approvers_add_search)"/>
                    </div>
                </div>
                <div *ngIf="vars.approvers_add_result">
                    <div *ngIf="vars.approvers_add_result.length > 0" class="dd_results" style="width:760px;">
                        <div *ngFor="let result of vars.approvers_add_result" [class.dd_result_sel]="result.selected" (click)="approverSelected(result)">{{ result.fullName_r }} | {{ result.email }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Spacer -->
<div style="height: 20px;">&nbsp;</div>

<div>
    <div class="header_a1">Set Delegates
        <div style="font-size:12px;font-weight:100;font-style:italic;">Allows a person to fill out another person's time sheet on their behalf.</div>
    </div>
    <div class="content_a1">
        <div class="dd_div">
            <div class="dd_search">
                <div style="width:90%;display:inline-block;">
                    <input placeholder="Person to Delegate" [(ngModel)]="vars.delegates_search" (click)="vars.delegate_sel=false;vars.delegate_result = false;vars.delegates_search=''" (keyup)="this.vars.delegate_sel=false;vars.delegate_result = searchDelegates(vars.delegates_search)"/>
                </div>
            </div>             
            <div *ngIf="vars.delegate_result">
                <div *ngIf="vars.delegate_result.length > 0" class="dd_results" style="width:760px;">
                    <div *ngFor="let result of vars.delegate_result" [class.dd_result_sel]="result.selected" (click)="delegateSelected(result)">{{ result.fullName_r }} | {{ result.email }}</div>
                </div>
            </div>
        </div>
        <div *ngIf="vars.delegate_sel" style="margin-top:10px;">            
            <div *ngIf="this.vars.delegators.length > 0 " style="padding:10px;">
                <div *ngFor="let d of this.vars.delegators; let i = 'index'" style="margin-top:10px;">
                    <div style="display:inline-block;float:right;">
                        <button (click)="removeDelegator(d,i)">remove</button>
                    </div>
                    <div style="display:inline-block;">{{ d['fullName'] }}</div>
                </div>
            </div>
            <div *ngIf="this.vars.delegators.length <= 0 " style="padding:10px;">
                No one has been set yet as delegator...
            </div>

            <div class="dd_div">
                <div class="dd_search">
                    <div style="width:90%;display:inline-block;">
                        <input placeholder="Add Delegator" [(ngModel)]="vars.delegates_add_search" (click)="vars.delegate_add_result = false;vars.delegates_add_search=''" (keyup)="vars.delegate_add_result = searchDelegates(vars.delegates_add_search)"/>
                    </div>
                </div>
                <div *ngIf="vars.delegate_add_result">
                    <div *ngIf="vars.delegate_add_result.length > 0" class="dd_results" style="width:760px;">
                        <div *ngFor="let result of vars.delegate_add_result" [class.dd_result_sel]="result.selected" (click)="delegatorSelected(result)">{{ result.fullName_r }} | {{ result.email }}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- Spacer -->
<div style="height: 20px;">&nbsp;</div>

<div>
    <div class="header_a1">Set Access
        <div style="font-size:12px;font-weight:100;font-style:italic;">Allows a person to access certain pages.</div>
    </div>
    <div class="content_a1">
        <div>
            <div class="page_text" [class.page_text_sel]="vars.access=='approvals'" (click)="vars.access='approvals'">Approvals/Peek</div>
            <div class="page_text" [class.page_text_sel]="vars.access=='status'" (click)="vars.access='status'">Status</div>
            <div class="page_text" [class.page_text_sel]="vars.access=='export'" (click)="vars.access='export'">Export</div>
            <div class="page_text" [class.page_text_sel]="vars.access=='admin'" (click)="vars.access='admin'">Admin</div>
        </div>
        <div *ngIf="vars.access" style="margin-top:10px;">

            <div *ngIf="vars.access=='approvals'" style="font-size:0.8em;font-style:italic;margin-bottom:10px;">
                This will allow a user to approve ALL time sheets. Otherwise add show/department specific approval under "Set Approvers" section. 
            </div>
            <div *ngIf="vars.set_access[vars.access].length <= 0" style="padding:10px;">                
                No one has been granted access to this area...
            </div>
            <div *ngFor="let x of vars.set_access[vars.access]; let i = 'index'" style="padding:10px;">
                <div style="display:inline-block;float:right;">
                    <button (click)="removeAccess(x,i, vars.access)">remove</button>
                </div>
                <div style="display:inline-block;">{{ x['fullName'] }}</div>
            </div>
        
            <div *ngIf="vars.access">
                <div class="dd_div">
                    <div class="dd_search">
                        <div style="width:90%;display:inline-block;">
                            <input placeholder="Add Person" [(ngModel)]="vars.admin_page_search" (click)="vars.delegate_sel=false;vars.admin_page_result = false;vars.admin_page_search=''" (keyup)="this.vars.delegate_sel=false;vars.admin_page_result = searchDelegates(vars.admin_page_search)"/>
                        </div>
                    </div>             
                    <div *ngIf="vars.admin_page_result">
                        <div *ngIf="vars.admin_page_result.length > 0" class="dd_results" style="width:760px;">
                            <div *ngFor="let result of vars.admin_page_result" [class.dd_result_sel]="result.selected" (click)="accessSelected(result, vars.access)">{{ result.fullName_r }} | {{ result.email }}</div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>





<!-- Spacer -->
<div style="height: 20px;">&nbsp;</div>

<div *ngIf="false">
    <div class="header_a1">Custom Start of Week
        <div style="font-size:12px;font-weight:100;font-style:italic;">Weeks that do not start on a Monday, due to a holiday or other event.</div>
    </div>
    <div class="content_a1">
        <div style="display:inline-block;float:right;">
            <button (click)="(vars.showCal) ? vars.showCal= false : vars.showCal=true">add new</button>
        </div>


        <!-- Calendar | at some point this should become a reusable component -->
        <div id="cal" *ngIf="vars.showCal" style="margin-left:560px;margin-top:32px;">
            <div style="padding-bottom:5px;margin-bottom:10px;border-bottom:1px #DDD solid;">
                <table width="100%;">
                    <tr>
                        <td class="btn_1" (click)="vars.calendar = serviceService.calendarBackForth(vars.calendar.cur_year_month, -1)">&#9664;</td>
                        <td style="text-align:center;">{{ vars.calendar.month_label }}</td>
                        <td class="btn_1" (click)="vars.calendar = serviceService.calendarBackForth(vars.calendar.cur_year_month, 1)">&#9654;</td>
                    </tr>
                </table>
            </div>
            <table class="cal_weeks" width="100%;">
                <tr class="disable-clicks">
                    <td *ngFor="let day_i of serviceService.days_label" style="font-weight:700;">{{ day_i }}</td>
                </tr>
                <tr *ngFor="let week of vars.calendar.weeks" [class.cal_cur_week]="week.cur_week">
                    <td *ngFor="let day of week.days; let i = 'index'" (click)="daySelected(week.week_of_label,week.week_of,day,i)"  [style.opacity]="(day.cur_mo) ? 1.0 : 0.5 ">{{ day.date }}</td>					
                </tr>
            </table>		
        </div>

        <div style="font-weight:700;border-bottom:1px #777 solid;padding-bottom:10px;margin-bottom:10px;">
            <span style="font-size:1.3em;" (click)="backYear()">&#9664;</span>&nbsp;{{ vars.custom_week_year }}&nbsp;
            <span style="font-size:1.3em;" (click)="forthYear()">&#9654;</span>
        </div>
        <div *ngIf="vars.custom_week_start.length > 0">
            <div *ngFor="let week of vars.custom_week_start;">
                Week of
                <span style="font-weight:700;">Dec 25 - Jan 1st</span>: Dec 26
                <div style="display:inline-block;float:right;">
                    <button>remove</button>
                </div>
            </div>
        </div>
        <div *ngIf="vars.custom_week_start.length <= 0">
            There are no 'custom start of the week' records.
        </div>

    </div>
</div>




<!-- Spacer -->
<div style="height: 20px;display:none;">&nbsp;</div>

<div style="display:none;">
    <div class="header_a1">Overtime Report</div>
    <div class="content_a1">
        <div style="margin-bottom:20px;">
            <div class="subheader_a1">Overview</div>
            <div>Generates report indicating which employees worked over 60 hours and multiple back to back weekends</div>
        </div>
        <div style="margin-bottom:20px;">
            <div class="subheader_a1">Schedule</div>
            <div>WEEKLY on Tuesda   ys at 9amm local time</div>
        </div>
        <div style="margin-bottom:20px;">
            <div class="subheader_a1">Email To:</div>
            <div>Carsten Sorensen (carsten@atomicfiction.com)</div>
            <div>Shawn Wallbridge (swallbridge@atomicfiction.com)</div>
            <div>Tyler Cote (tyler@santear.com)</div>
        </div>
        <div>
            <div class="subheader_a1">Recent Reports:</div>
            <table width="100%">

                <tr>
                    <td>Dec 19</td>
                    <td style="text-align:right;">
                        <button>download</button>
                    </td>
                </tr>
                <tr>
                    <td>Dec 12</td>
                    <td style="text-align:right;">
                        <button>download</button>
                    </td>
                </tr>
                <tr>
                    <td>Dec 5</td>
                    <td style="text-align:right;">
                        <button>download</button>
                    </td>
                </tr>
                <tr>
                    <td>Nov 28</td>
                    <td style="text-align:right;">
                        <button>download</button>
                    </td>
                </tr>
                <tr>
                    <td>Nov 21</td>
                    <td style="text-align:right;">
                        <button>download</button>
                    </td>
                </tr>
                <tr>
                    <td>Nov 14</td>
                    <td style="text-align:right;">
                        <button>download</button>
                    </td>
                </tr>
                <tr>
                    <td>Nov 7</td>
                    <td style="text-align:right;">
                        <button>download</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Spacer -->
<div style="height: 20px;">&nbsp;</div>

<div *ngIf="false">
        <div class="header_a1">Scheduled Actions</div>
        <div class="content_a1">
            <table width="100%" style="color:#AAA">
                <tr>
                    <td style="color:#000;">Overtime Report</td>
                    <td>Weekly</td>
                    <td>Tuesday 9am local</td>
                    <td style="text-align:right;">2017-10-10 09:00</td>
                    <td>&nbsp;</td>
                    <td>success</td>
                    <td style="text-align:right;">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td style="color:#000;">Time Sheet Status</td>
                    <td>Weekly</td>
                    <td>Monday 9am local</td>
                    <td style="text-align:right;">2017-10-10 09:00</td>
                    <td>&nbsp;</td>
                    <td>success</td>
                    <td style="text-align:right;">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td style="color:#000;">Time Sheet Status</td>
                    <td>Weekly</td>
                    <td>Monday 9am local</td>
                    <td style="text-align:right;">2017-10-10 09:00</td>
                    <td>&nbsp;</td>
                    <td>success</td>
                    <td style="text-align:right;">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td style="color:#000;">Time Sheet Reminder</td>
                    <td>Weekly</td>
                    <td>Monday 9am local</td>
                    <td style="text-align:right;">2017-10-10 09:00</td>
                    <td>&nbsp;</td>
                    <td>success</td>
                    <td style="text-align:right;">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td style="color:#000;">Time Sheet Reminder</td>
                    <td>Weekly</td>
                    <td>Monday 10am local</td>
                    <td style="text-align:right;">2017-10-10 09:00</td>
                    <td>&nbsp;</td>
                    <td>success</td>
                    <td style="text-align:right;">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td style="color:#000;">Time Sheet Status</td>
                    <td>Weekly</td>
                    <td>Monday 11am local</td>
                    <td style="text-align:right;">2017-10-10 09:00</td>
                    <td>&nbsp;</td>
                    <td>success</td>
                    <td style="text-align:right;">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td style="color:#000;">Disable Accounts</td>
                    <td>Weekly</td>
                    <td>Monday 12pm local</td>
                    <td style="text-align:right;">2017-10-10 09:00</td>
                    <td>&nbsp;</td>
                    <td>success</td>
                    <td style="text-align:right;">
                        <input type="checkbox" checked>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    