
<div *ngIf="vars.showPopup" id="rejected_note_popup" class="popup">
        <div>
            <div class="popup_title">Time Sheet Options</div>
            <div style="font-style:italic;font-size:0.8em;margin-top:10px;"> {{ vars.selected_user.fullName }} </div>
            <div class="popup_buttons">
                <!-- <button (click)="submit()">Submit</button>
                <button (click)="unsubmit()">Unsubmit</button>  -->
                <button (click)="edit()">Edit Hours</button>
                <button (click)="vars.showPopup = false;">Cancel</button>
            </div>
        </div>
    </div>

<div style="margin-bottom: 10px;margin-top:20px;">

    <div class="btn_1" style="display:inline-block;" (click)="weekSelected(vars.calendar.week_back.label,vars.calendar.week_back.week_of)">&#9664;</div>
    <div class="btn_1" style="display:inline-block;" (click)="(vars.showCal) ? vars.showCal = false : vars.showCal = true;">{{vars.week_label}}</div>
    <div class="btn_1" style="display:inline-block;" (click)="weekSelected(vars.calendar.week_forth.label,vars.calendar.week_forth.week_of)">&#9654;</div>

    <!-- Texual and graphical indicator for save state; defaults to hidden until an action is made -->
    <div *ngIf="vars.save_status" style="float:right;color:#555;" (click)="saveTimesheet()">
        {{ vars.save_status }}
        <svg height="10" width="10">
            <circle cx="5" cy="5" r="5" stroke="black" stroke-width="3" [attr.fill]="vars.save_status_color" />
        </svg>
    </div>

    <!-- Calendar | at some point this should become a reusable component -->
    <div id="cal" *ngIf="vars.showCal">
        <div style="padding-bottom:5px;margin-bottom:10px;border-bottom:1px #DDD solid;">
            <table width="100%;">
                <tr>
                    <td class="btn_1" (click)="vars.calendar = serviceService.calendarBackForth(vars.calendar.cur_year_month, -1)">&#9664;</td>
                    <td style="text-align:center;">{{ vars.calendar.month_label }}</td>
                    <td class="btn_1" (click)="vars.calendar = serviceService.calendarBackForth(vars.calendar.cur_year_month, 1)">&#9654;</td>
                </tr>
            </table>
        </div>
        <table class="cal_weeks" width="100%;">
            <tr class="disable-clicks">
                <td *ngFor="let day_i of serviceService.days_label" style="font-weight:700;">{{ day_i }}</td>
            </tr>
            <tr *ngFor="let week of vars.calendar.weeks" (click)="weekSelected(week.week_of_label,week.week_of)" [class.cal_cur_week]="week.cur_week">
                <td *ngFor="let day of week.days" [style.opacity]="(day.cur_mo) ? 1.0 : 0.5 ">{{ day.date }}</td>					
            </tr>
        </table>		
    </div>
</div>
<div class="cat_1 projects" style="margin-bottom: 10px;">
    <table width="100%">
        <tr>
            <td width="50%">
                <input value="" placeholder="Search For Person" style="box-sizing:border-box;width:100%;padding:5px;" (keyup)="vars.search_name=$event.target.value.toLowerCase()"
                    (click)="$event.target.value='';vars.search_name=''">
            </td>
            <td width="50%">
                <input value="" placeholder="Search For Show/Department" style="box-sizing:border-box;width:100%;padding:5px;" (keyup)="vars.search_project=$event.target.value.toLowerCase()"
                    (click)="$event.target.value='';vars.search_project=''">
            </td>
        </tr>
    </table>
</div>

<div class="cat_1_title">
    <table id="legend" width="100%">
        <tr>
            <td class="pending_submission" [class.icon_active]="vars.filter[0]" [class.icon_inactive]="!vars.filter[0]" (click)="(vars.filter[0]) ? vars.filter[0] = false: vars.filter[0] = true">Pending Submission<br> {{ vars.total[0] }}</td>
            <td class="submitted" [class.icon_active]="vars.filter[1]" [class.icon_inactive]="!vars.filter[1]" (click)="(vars.filter[1]) ? vars.filter[1] = false: vars.filter[1] = true">Submitted<br> {{ vars.total[1] }}</td>
            <td class="rejected" [class.icon_active]="vars.filter[2]" [class.icon_inactive]="!vars.filter[2]" (click)="(vars.filter[2]) ? vars.filter[2] = false: vars.filter[2] = true">Rejected<br> {{ vars.total[2] }}</td>
            <td class="partial_approved" [class.icon_active]="vars.filter[3]" [class.icon_inactive]="!vars.filter[3]" (click)="(vars.filter[3]) ? vars.filter[3] = false: vars.filter[3] = true">Partial Approved<br> {{ vars.total[3] }}</td>
            <td class="approved" [class.icon_active]="vars.filter[4]" [class.icon_inactive]="!vars.filter[4]" (click)="(vars.filter[4]) ? vars.filter[4] = false: vars.filter[4] = true">Approved<br> {{ vars.total[4] }}</td>
        </tr>
    </table>
</div>

<div class="cat_1" style="padding:10px;text-align:center;" *ngIf="vars.show_loading">
loading week...
</div>

<div *ngIf="!vars.show_loading" class="cat_1" style="padding:10px;">
    <div *ngFor="let user of users_array;">
        <div style="border-bottom:1px #BBB solid;" *ngIf="vars.filter[user.timeSheetStatus] && (vars.search_name.length == 0 || user.fullName_r.toLowerCase().indexOf(vars.search_name) != -1) && (vars.search_project.length == 0 || user.shows_departments.toLowerCase().indexOf(vars.search_project) != -1)">
            <div [class]="status_class[user.timeSheetStatus]">&nbsp;</div>
            <div class="user_name" style="padding:5px;display:inline-block;" (click)="prompt_load(user)">
                {{ user.fullName_r}}
            </div>
            <div style="float:right;text-align:right;color:#555;font-style:italic;font-size:0.8em;margin-top:5px;">
                <div *ngFor="let item of user.worked; let last=last" style="display:inline-block;">
                    {{ vars.titles[item[0]+'_'+item[1]] }} <span *ngIf="!last">&nbsp;|&nbsp;</span>
                </div>
            </div>            
        </div>        
    </div>    
</div>