<h1>{{username}}</h1>


<div style="margin-bottom: 10px;">
	<div>Oct 2 - Oct 9 (this week)</div>
</div>

<!-- Template for Projects -->
<div class="cat_1 projects" *ngFor="let category of category_1" style="margin-bottom: 10px;">
	<div class="cat_1_title">
		<table style="width:100%;">
			<tr>
				<td style="width: 200px;font-size:1.5em;font-weight: 700;">{{categories[category]}}</td>				
				<td>
					<table style="width: 100%;">
						<tr>
							<td class="blank">&nbsp;</td>
							<td class="day">M</td>
							<td class="day">T</td>
							<td class="day">W</td>
							<td class="day">T</td>
							<td class="day">F</td>
							<td class="day">S</td>
							<td class="day">S</td>
							<td class="blank">&nbsp;</td>
							<td class="sum">&nbsp;</td>			
						</tr>
					</table>
				</td>				
			</tr>
		</table>
	</div>
	<div class="cat_1_content">
		<div *ngFor="let projectkey of projects; let last = last;">
			<div style="border-bottom:1px #BBB solid;padding-bottom:5px;margin-bottom: 5px;">
				<table style="width:100%;">
					<tr>
						<td style="width: 200px;" class="project_title">{{project_titles[projectkey]}}</td>
						<td>
							<table style="width: 100%;">
								<tr>
									<td class="blank">&nbsp;</td>
									<td class="day ot">OT</td>
									<td class="day ot">OT</td>
									<td class="day ot">OT</td>
									<td class="day ot">OT</td>
									<td class="day ot">OT</td>
									<td class="day ot">OT</td>
									<td class="day ot">OT</td>
									<td class="blank">&nbsp;</td>
									<td class="sum">&nbsp;</td>
								</tr>
							</table>
						</td>				
					</tr>
				</table>				
			</div>
			

			<!-- <div class="cat_3_title">Shot/Asset/Other</div> -->
			<div *ngIf="category == 0" style="margin-bottom: 5px;">Shot: #</div>
			
			<table style="width:100%;">
				<tr>
					<td class="title">
						<div style="width: 200px;"><span>&nbsp;&nbsp;</span>Task</div>
					</td>
					<td>
						<table style="width: 100%;">
							<tr>
								<td class="blank">&nbsp;</td>
								<td class="day"><input type="text" /></td>
								<td class="day"><input type="text" /></td>
								<td class="day"><input type="text" /></td>
								<td class="day"><input type="text" /></td>
								<td class="day"><input type="text" /></td>
								<td class="day"><input type="text" /></td>
								<td class="day"><input type="text" /></td>
								<td class="blank">&nbsp;</td>
								<td class="sum">0</td>			
							</tr>
						</table>
					</td>				
				</tr>
			</table>
			<div *ngIf="!last">&nbsp;</div>
		</div>
	</div>
</div>


<div class="cat_1 departments">
	<div class="cat_1_title">
		
		<table style="width:100%;">
			<tr>
				<td class="title">
					<div>Totals</div>
				</td>				
				<td>
					<table style="width: 100%;">
						<tr>
							<td class="blank">&nbsp;</td>
							<td class="day">M</td>
							<td class="day">T</td>
							<td class="day">W</td>
							<td class="day">T</td>
							<td class="day">F</td>
							<td class="day">S</td>
							<td class="day">S</td>
							<td class="blank">&nbsp;</td>
							<td class="sum">&nbsp;</td>			
						</tr>
					</table>
				</td>				
			</tr>
		</table>

	</div>
	<div class="cat_1_content">
		<div>
			
			<table style="width:100%;">
				<tr>
					<td style="width: 200px;" class="title">
						<div>&nbsp;</div>
					</td>				
					<td>
						<table style="width: 100%;">
							<tr>
								<td class="blank">&nbsp;</td>
								<td class="day">0</td>
								<td class="day">0</td>
								<td class="day">0</td>
								<td class="day">0</td>
								<td class="day">0</td>
								<td class="day">0</td>
								<td class="day">0</td>
								<td class="blank">&nbsp;</td>
								<td class="sum">0</td>			
							</tr>
						</table>
					</td>				
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="spacer">&nbsp;</div>  <!-- spacer -->

<div class="timesheet_footer">
	Save
</div>
