.offline{
    background-color: rgba(0, 0, 0, 0.5);
    width:100vw;
    height:100vw;
    position: fixed;
    left:0;
    top:0;
    z-index:1000000;
    text-align: center;
}

.offline div{
    padding:20px;
    font-weight: 700;
    font-size:1.25em;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin-top:0 auto;
    color:#000;
}