<div>
	<div class="logo"></div>
		
	<ul>

		<li [style.opacity]="(serviceService.valid_login) ? 1.0 : 0.0 ">
			<a (click)="serviceService.logOut()">SIGN OUT</a>
		</li>

		<!--
		<li *ngIf="serviceService.valid_login && loggedIn">
			<a routerLink="administrate">ADMIN</a>
		</li>
		<li *ngIf="serviceService.valid_login && loggedIn">
			<a routerLink="export">EXPORT</a>
		</li>
		<li *ngIf="serviceService.valid_login && loggedIn">
			<a routerLink="status">STATUS</a>
		</li>
		<li *ngIf="serviceService.valid_login && loggedIn">
			<a routerLink="approval">APPROVALS</a>
		</li>

	-->
		<li [style.opacity]="(serviceService.valid_login) ? 1.0 : 0.0 ">
			<a routerLink="entry">ENTRY</a>
		</li>
	</ul>
</div>
<div style="clear: both;"></div>



