
.logo {
  background-image: url("/assets/af_logo_v002.png");
  width: 283px;
  height: 85px;
  display: inline-block;
  position: absolute;
}

.navigation{	
	margin-top:-40px;
	width:800px;
}

.navigation div {	
	display: inline-block;	
	margin-left:20px;
	white-space: nowrap;
	float: right;
}

a{
	font-size: 0.8em;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	color:#677ef3 !important;
}
