<div [class.disable-clicks]="!serviceService.valid_login" style="height:85px;margin-bottom:20px;">
	<div class="logo" style="margin-top:40px;"></div>
		

	<div class="navigation">
		<div *ngIf="serviceService.access[0]">
			<a (click)="serviceService.logOut()">SIGN OUT</a>
		</div><!--
		--><div *ngIf="serviceService.access[6]">
			<a routerLink="administrate">ADMIN</a>
		</div><!--
		--><div *ngIf="serviceService.access[5]">
			<a routerLink="export">EXPORT</a>
		</div><!--
		--><div *ngIf="serviceService.access[4]">
			<a routerLink="status">STATUS</a>
		</div><!--
		--><div *ngIf="serviceService.access[2]">
			<a routerLink="approval">APPROVALS</a>
		</div><!--
		--><div *ngIf="serviceService.access[3]">
			<a routerLink="peek">PEEK</a>
		</div><!--
		--><div *ngIf="serviceService.access[1]">
			<a routerLink="entry">ENTRY</a>
		</div>
	</div>

	
</div>
<div style="clear: both;">&nbsp;</div>



