
.logo {
  background-image: url("/assets/af_logo_v002.png");
  width: 283px;
  height: 85px;
  display: inline-block;
  float: left;
}


ul li{
	list-style-type: none;
	float: right;
	margin:0;	
	padding: 10px;
	height: 85px;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: .85em;
	font-weight: 600;
}


a, a:visited{
	color: #FFF;
	text-decoration: none;
}
