/* AF TSS GLOBAL STYLES */

body {
  background-color: #151515;
  color: #FFF;
  margin: 50px 135px;
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
	 -moz-user-select: none; /* Firefox */
	  -ms-user-select: none; /* Internet Explorer/Edge */
		  user-select: none; /* Non-prefixed version, currently
								supported by Chrome and Opera */
	cursor: default;

	overflow-y: scroll;
}




input, select{	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px;
}


select, input, .shot_asset_sel {
    background-color: #eee;
}

td{
    vertical-align: middle;
}




h1{
	font-size:2em;
	font-weight: 700;
	margin-bottom: 20px;
}

.cat_0_title{
	font-weight: 700;
}

.cat_1{
	background-color:#D8D8D8;
	color:#000;
}

.cat_1_title{	
	padding:15px;
	background-color:#BCBCBC;
}

.cat_1_content{	
	padding:15px;	
}

.cat_2_title{	
	font-weight: 700;
	border-bottom: 1px #999 solid;
	padding-bottom:5px;
	margin-bottom: 5px;
}

.timesheet_footer{
	color:#000;
	background-color:#BCBCBC;	
	text-align: right;
}

.timesheet_submitted_footer{
	color:#000;
	background-color:#BCBCBC;	
	text-align: right;
	padding:20px;
	text-align: center;
	font-weight: 700;	
}

.spacer{
	height: 10px;
}

.hour_sum{
	color:#999;
}

.hour_sum_breakdown{
	color:#333;
}

.day_zero, .day, .blank, .sum, .sum_approval, .sum_break_down, .hour_sum_breakdown{
	width: 10%;	
	text-align: center;
	font-size: 1em;
	vertical-align: center;
}

.sum_approval{
	width:20%;
}

.blank{
	width: 5%;
}

.cat_1_title .title{
	width: 200px;
	font-size: 1.5em;
	font-weight: 700;
	vertical-align: center;
}

.day input, .day_zero input{
	box-sizing: border-box;
	width: 100%;	
	padding:5px;
	text-align: center;
	font-size: .8em;
}

.day_zero{
	opacity: .2;
}

.day input:focus{
	opacity: 1.0;
}

.ot, .ot_selected{
	font-size: .75em;
	color:#AAA;
}

.ot div, .ot_selected div{
	cursor: pointer;
}

.ot:hover{
	color:#1f54dc;
	font-weight: 700;
}

.ot_selected{
	color:#1f54dc;
	font-weight: 700;
}

.editList_hide{
	display: none;
}

.editList{
	min-width: 50px;
	text-align: right;	
}

.editList_disabled{
	min-width: 50px;
	text-align: right;	
	opacity: 0.0;
	pointer-events: none;
}

.removeLine, .addLine{
	cursor: pointer;
	color:#999;
	font-weight: 700;
}

.addRemoveLine_disabled{
	opacity: 0.0;
	pointer-events: none;
}

.addLine:hover{	
	color:Green;
}

.removeLine:hover{	
	color:#F00;
}

.save_btn, .submit_btn{
	padding:15px;
	border: 1px #FFF outset;
	display: inline-block;
	cursor: pointer;
	margin-left: 0px;
}

.save_btn:hover, .submit_btn:hover{
	background-color: #DDD;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.note_sel_sm, .note_sm, .note_sel, .note, .plus, .minus, .empty, .approval, .approval_sel, .reject, .reject_sel, .menu{
	width: 24px;
	height: 24px;
	opacity: 0.25;
	display: inline-block;	
	cursor: pointer;
}

.menu{
	background-image: url("/assets/menu.png");
}

.menu:hover{
	background-image: url("/assets/menu_sel.png");
}



.note_sel_sm, .note_sm{
	width: 20px;
	height: 20px;
}

.plus{
	background-image: url("/assets/plus.png");
}

.plus:active, .plus_sel:active{
	background-image: url("/assets/plus_sel.png");
}

.plus_sel{
	opacity: 1.0;	
}


.reject{
	background-image: url("/assets/reject.png");	
} 

.reject:hover{
	background-image: url("/assets/reject_sel.png");	
	opacity: 0.50;
}

.reject_sel{
	background-image: url("/assets/reject_sel.png");
	opacity: 0.5;
}

.approval{
	background-image: url("/assets/approval.png");
}

.approval:hover{
	background-image: url("/assets/approval_sel.png");
	opacity: 0.25;
}

.approval_sel{
	background-image: url("/assets/approval_sel.png");
	opacity: 0.5;
}

.minus{
	background-image: url("/assets/reject_sel.png");
	opacity: 0.5
}

.minus:hover{	
	opacity: 1.0
} 

.note{
	background-image: url("/assets/note.png");	
}

.note_sm{
	background-image: url("/assets/note_sm.png");	
}

.note_sel{
	background-image: url("/assets/note_sel.png");	
	opacity: .75;
}

.note_sel_sm{
	background-image: url("/assets/note_sel_sm.png");
	opacity: 0.5;
}

.note_textarea{
	width: 100%;
	resize: none;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: .8em;
}

.empty{
	background-image: url("/assets/empty.png");
	cursor: default;
	opacity: 0.07;
}

.plus:hover, .minus:hover{
	opacity: 1.0;
}

.debug_settings{
	padding:10px;
	background-color: rgb(137, 152, 223);
	top: 0;
	left:0;	
	position:fixed;
}

.debug_items div{
	font-size: 0.8em;
	padding:3px;
}

.alt_btn{
	cursor: pointer;
	padding:5x;
}

.alt_btn:hover{
	color:#677ef3;
}

select{
	padding:5px;
	font-size: .8em;
}

.addRowOption input{
	font-size: 0.8em;
	padding: 3px;
}

.addRowOption_shotAssetList, .addRowOption_ProjectList{	
	overflow-x: hidden;
	position: absolute;	
	background-color:#000;
	color:#FFF;
	font-size: 0.8em;
	width:285px;
	box-sizing: border-box;
}

.addRowOption_shotAssetList div, .addRowOption_ProjectList div{
	padding:5px;
	border-bottom:1px #AAA solid;
	cursor: pointer;
}

.addRowOption_ProjectList{	
	max-width:none;
	width: 770px;
	box-sizing: border-box;
}

.addRowOption_shotAssetSelect_change{
	font-size: .75em;
	color:#999;
	cursor:pointer;
}

.ot_cell{
	background-color:#bfcced;
}

.popup{
	position: fixed;
	height:100vh;
	width:100vw;
	background-color: rgba(0, 0, 0, .50);
	left:0;
	top:0;
	z-index:2;	
}

.popup > div{
	padding:40px;
	background-color:#FFF;
	width:50%;
	color:#000;
	margin: 0 auto;
	margin-top:100px;
}

.popup_title{
	font-size: 1.5em;
	font-weight: 700;
}


.popup_text{
	font-style: italic;
	margin:10px 0px;
}


.popup_buttons{
	margin-top:20px;
	padding-top:20px;
	border-top:1px #000 solid;
}

.cal_weeks tr:hover{
	background-color: #AAA;
	cursor: pointer;

}

.cal_weeks td{
	text-align: center;
}

#cal{
	position:absolute;
	padding:10px;
	background-color:#FFF;
	width:200px;
	color:#000;	
	box-shadow: 10px 10px 5px #888888;
	margin-top:5px;
	margin-left: 5px;
	z-index: 100;
}

.cal_days td{
	width:14%;
}

.cal_dif_mo{
	opacity:0.25;	
}

.disable-clicks {
	pointer-events: none;
}

.btn_1{
	cursor: pointer;
}

.btn_1:hover{
 color:#677ef3;
}

.indicateRemoval{
	color:#F00;
}

.note_text{	
	font-size:0.8em;
	background-color:rgb(160, 160, 160);
	padding:10px;	
	margin:0px 10px;
	margin-top:5px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 10px #888888;	
	overflow: hidden;
}

.note_text div{
	white-space: pre;
}

.show_full_opacity{
	opacity: 1.0;
}

td{
	vertical-align: top;
}



.hideAddRemoveRow{
	opacity:0;
	transition:opacity 0.5s linear;
}


.showAddRemoveRow{
	
    opacity:1;
    transition:opacity 0.5s linear;
}




.hideNote{
	overflow: hidden;
	max-height:0px;
	
	transition: max-height .5s ease-out;	
}


.showNote{
	overflow: hidden;
    max-height:40px;
	transition: max-height .5s ease-out;
}

.projects, .departments{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.addRowOption_searchShotAsset, .addRowOption_productionTask{
	opacity: .4;
}

.addRowOption_searchShotAsset:focus, .addRowOption_productionTask:focus{
	opacity: 1.0;
}


.menu_div{
	position: absolute;
	background-color:#FFF;
	box-shadow: 5px 5px 5px #000;	
	padding:5px;
	z-index: 1000;	
}


.menu_div div{
	white-space: nowrap;
	padding:2px;
	cursor: pointer;
}

.menu_div div:hover{
	color:#1f54dc;
}


.close_btn{
	padding:10px;
	text-align:center;	
	cursor: pointer;
	font-style: italic;
	border: 2px #888888 solid;
}

.close_btn:hover{
	color:#677ef3;
}


.showAddRemove, .hideAddRemove{
	width:800px;
	z-index:1000;
	position:fixed;
	background-color:#555;
	top:0;
	
}

.hideAddRemove{
	overflow: hidden;
	max-height:0px;	
	transition:max-height .5s ease-out;	
}


.showAddRemove{
	overflow: hidden;
    max-height:50px;
	transition: max-height .5s ease-out;	
}




.addedLine{
	background-color:#c9d0f7;

	animation:addedLine-response 2.5s 1;
    -webkit-animation:addedLine-response 2.5s 1;
    animation-fill-mode: forwards;

    animation-delay:2.5s;
    -webkit-animation-delay:2.5s; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
	
}


@keyframes addedLine-response{
    from {background-color:#c9d0f7;}
    to {background-color:#D8D8D8;}
}

@-webkit-keyframes addedLine-response{
    from {background-color:#c9d0f7;}
    to {background-color:#D8D8D8;}
}
