/* AF TSS GLOBAL STYLES */

body {
  background-color: #151515;
  color: #FFF;
  margin: 50px 135px;
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
	 -moz-user-select: none; /* Firefox */
	  -ms-user-select: none; /* Internet Explorer/Edge */
		  user-select: none; /* Non-prefixed version, currently
								supported by Chrome and Opera */
	cursor: default;

	overflow-y: scroll;
}

input, select{	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px;
}


select, input, .shot_asset_sel {
    background-color: #eee;
}

td{
	vertical-align: middle;	
}

h1{
	font-size:2em;
	font-weight: 700;
	margin-bottom: 20px;
}

.cat_0_title{
	font-weight: 700;
}

.cat_1{
	background-color:#D8D8D8;
	color:#000;
}

.cat_1_title{	
	padding:15px;
	background-color:#BCBCBC;
}

.cat_1_content{	
	padding:15px;	
}

.cat_2_title{	
	font-weight: 700;
	border-bottom: 1px #999 solid;
	padding-bottom:5px;
	margin-bottom: 5px;
}

.cat_1_title .title{
	width: 200px;
	font-size: 1.5em;
	font-weight: 700;
	vertical-align: center;
}

.spacer{
	height: 10px;
}

.hour_sum{
	color:#999;
}

.hour_sum_breakdown{
	color:#333;
}

/* td related styles */
.day_zero, .day, .blank, .sum, .sum_approval, .sum_break_down, .hour_sum_breakdown{
	width: 10%;	
	text-align: center;
	font-size: 1em;
	vertical-align: center;
}

.sum_approval{
	width:20%;
}

.blank{
	width: 5%;
}

/* hour input styles */
.day input, .day_zero input{
	box-sizing: border-box;
	width: 100%;	
	padding:5px;
	text-align: center;
	font-size: .8em;
}

.day_zero{
	opacity: 0.2;
}

.day input:focus{
	opacity: 1.0;
}

/* overtime related styles */
.ot, .ot_selected{
	font-size: .75em;
	color:#AAA;
}

.ot div, .ot_selected div{
	cursor: pointer;
}

.ot:hover{
	color:#1f54dc;
	font-weight: 700;
}

.ot_selected{
	color:#1f54dc;
	font-weight: 700;
}

/* submission related styles */
.submit_btn{
	padding:15px;
	border: 1px #FFF outset;
	display: inline-block;
	cursor: pointer;
	margin-left: 0px;
}

.submit_btn:hover{
	background-color: #DDD;
}


/* icons */
.note_sel_sm, .note_sm, .note_sel, .note, .empty, .approval, .approval_sel, .reject, .reject_sel, .menu, .minus{
	width: 24px;
	height: 24px;	
	display: inline-block;	
	cursor: pointer;
}

.menu{
	background-image: url("/assets/menu_link.png");
}

.menu:hover{
	background-image: url("/assets/menu_hover.png");
}

.menu:active{
	background-image: url("/assets/menu_active.png");
}

.note_sel_sm, .note_sm{
	width: 20px;
	height: 20px;
	
}

.reject, .minus{
	background-image: url("/assets/reject_link.png");	
} 

.reject:hover, .minus:hover{
	background-image: url("/assets/reject_hover.png");	
}

.reject_sel{
	background-image: url("/assets/reject_sel.png");
	
}

.approval{
	background-image: url("/assets/approve_link.png");
}

.approval:hover{
	background-image: url("/assets/approve_sel.png");
	opacity: 0.5;
}

.approval_sel{
	background-image: url("/assets/approve_sel.png");
}

.note{
	background-image: url("/assets/note_link.png");	
}

.note:hover{
	background-image: url("/assets/note_sel.png");	
	opacity: 0.5;
}

.note:active{
	background-image: url("/assets/note_active.png");	
}

.note_sm{
	background-image: url("/assets/note_sm.png");	
}

.note_sel{
	background-image: url("/assets/note_sel.png");	
	opacity: .75;
}

.note_sel_sm{
	background-image: url("/assets/note_sel_sm.png");
	opacity: 0.5;
}


.note_textarea_div{
	padding:20px;
	position:absolute;
	background-color:#FFF;
	width:770px;
	z-index:100;
}
.note_textarea{
	width: 100%;
	resize: none;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: .8em;
}


.empty{
	background-image: url("/assets/empty.png");
	cursor: default;
	opacity: 0.07;
}

.plus:hover, .minus:hover{
	opacity: 1.0;
}


.btn_1{
	cursor: pointer;
}

.btn_1:hover{
 	color:#677ef3;
}


select{
	padding:5px;
	font-size: .8em;
}

.addRowOption input{
	font-size: 0.8em;
	padding: 3px;
}

.ot_cell{
	background-color:#bfcced;
}

/* popup related styles */
.popup{
	position: fixed;
	height:100vh;
	width:100vw;
	background-color: rgba(0, 0, 0, .50);
	left:0;
	top:0;
	z-index:1000000;	
}

.popup > div{
	padding:40px;
	background-color:#FFF;
	width:50%;
	color:#000;
	margin: 0 auto;
	margin-top:100px;
}

.popup_title{
	font-size: 1.5em;
	font-weight: 700;
}

.popup_text{
	font-style: italic;
	margin:10px 0px;
}

.popup_buttons{
	margin-top:20px;
	padding-top:20px;
	border-top:1px #000 solid;
}

.disable-clicks {
	pointer-events: none;
}

.projects, .departments{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* calendar related styles */
#cal{
	position:absolute;
	padding:10px;
	background-color:#FFF;
	width:200px;
	color:#000;	
	box-shadow: 10px 10px 5px #888888;
	margin-top:5px;
	margin-left: 5px;
	z-index: 100;
}

.cal_weeks tr:hover{
	background-color: #AAA;
	cursor: pointer;
}

.cal_weeks td{
	text-align: center;
}

.cal_days td{
	width:14%;
}

.cal_dif_mo{
	opacity:0.25;	
}

.cal_cur_week{
	font-weight: 700;
}


.timesheet_show{
	opacity: 1.0;
	transition: opacity .25s .25s linear;
}

.timesheet_hide{
	opacity: 0.0;
	/*transition: opacity .25s linear;*/
}


.divider{
	border-bottom: 5px #151515 solid;
}



/* custom drop down menue with search */
.dd_div{
    width: 100%;
    box-sizing: border-box;
}   

.dd_search input{
    background: transparent;
    border:1px #000 solid;
    height:auto;
    width: 100%;
    box-sizing: border-box;
    border: none;
    
}

.dd_search input:focus{
    border: none;
    outline: none;
}

.dd_search{
    padding:5px;
    border-bottom:2px #999 solid;
}

.dd_reveal{
    font-size:0.75em;
    cursor: pointer;
    
}

.dd_results{
    position: absolute;
    z-index:10;
    border: 1px #677ef3 solid;
}

.dd_search:focus-within{
    background-color: #EEE;
}

.dd_result_sel{
    background-color: #677ef3 !Important;
}

.dd_results div{
    background-color:#EEE;
    padding:5px;    
    cursor: pointer;
    font-size:0.8em;
}

.dd_results div:hover{
    color:#DDD;
    background-color: #677ef3
}
